<div ng-controller="SelectOrgCtrl" class="main">
    <script type="text/ng-template" id="1.html">

        <div class="modal-header">
            <h5 class="modal-title-md">Please select an organization.</h5>
        </div>
        <div class="modal-body-md">
        <span class="h5">SnackReactor is all about knowledge from your friends and colleagues. Please choose an organization to join; you can only choose one.</span>
          <div ng-repeat="org in githubOrgs">
            <a ng-click="selectOrg()" class="blacktext"><div class="org"><img src="{{org.avatar_url}}" class="org-img img-circle"><span class="org-name h3">{{org.login}}</span><i class="fa fa-sign-out fa-4x org-go" ng-hide="submitting"></i></div></a>
          </div>
        </div>   
    </script>
<div>