<div class="modal-header">
  <h3 class="modal-title">Select an Organization</h3>
</div>
<div class="modal-body">
  <p>test</p>
</div>

      
             
<!-- 
           <div class="modal-footer">
             <a href="/auth/github" target= "_self" class="search fa fa-github btn btn-block btn-social btn-github">
             Sign in with GitHub
             </a>
</div> -->

<!--  <form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">
                       <div class="form-group has-feedback">
                         <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
                         <span class="ion-at form-control-feedback"></span>
                       </div>

                       <div class="form-group has-feedback">
                         <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="password" ng-model="password" placeholder="Password" required="">
                         <span class="ion-key form-control-feedback"></span>
                       </div>

                       <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-sm btn-block btn-success" disabled="disabled">Log in</button>
                       <br>
                       <p class="text-center text-muted">
                       <small>Dont have an account yet? <a href="/signin">Sign up</a></small>
                       </p>
                     </form> -->