<div ng-controller="CreateRestCtrl" class="main">
        <div class="page-header">
            <h1>Add a Place</h1>
            <h4>Use this form to create a new place for today! Your colleagues can meet you there.</h4>
        </div>
          <div class="col-md-3">
              <h3>{{ createRest.name }}</h3>
              <br>
              {{ createRest.formatted_address }}
          </div>
          <div class="col-md-8">
            <form name="createRest" id="createRest" ng-model="restForm" class="sr-form">
                <div class="form-group">
                    <label for="name">Type a Place or Address</label>
                    <input type="text" g-places-autocomplete forceSelection="true" class="form-control" id="name" placeholder="Chipotle" ng-model="createRest" autofocus=true required>
                </div>

                <div>
<!--                     <i class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="submitting"></i>
                    <span class="label label-success">{{successMessage}}</span>
                    <span class="label label-danger">{{failureMessage}}</span>
 -->                    <div class="action-btns">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="addRestaurant(createRest)" ng-disabled="createRest.$invalid">Submit</button>
                        <button type="submit" class="btn btn-cancel btn-warning pull-right" ng-click="cancelButton()">Cancel</button>
                    </div>
                </div>
            </form>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
<div>
