<div ng-controller="CreateRestCtrl" class="main">
    <script type="text/ng-template" id="4.html">

        <div class="modal-header">
            <h5 class="modal-title-md">Add a Place</h5>
        </div>
        <div class="modal-body-md modal-create">
        <span class="h5">Use this form to create a new place for today! Your colleagues can meet you there.</span>
          <div>
            <form name="createRest" id="createRest" ng-model="restForm" class="sr-form">
                <div class="form-group">
                    <label for="name">Venue</label>
                    <input type="text" class="form-control" id="name" placeholder="Chipotle" ng-model="createRest.name" autofocus=true required>
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Westfield San Francisco Centre, 865 Market St C10, San Francisco, CA 94103" ng-model="createRest.address" autofocus=true required>
                </div>

                <div>
                    <i class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="submitting"></i>
                    <span class="label label-success">{{successMessage}}</span>
                    <span class="label label-danger">{{failureMessage}}</span>
                    <div class="action-btns">
                        <button type="submit" class="btn btn-primary pull-right" ng-click="submitRestaurant()" ng-disabled="createRest.$invalid">Submit</button>
                        <button type="submit" class="btn btn-cancel btn-warning pull-right" ng-click="cancelButton()">Cancel</button>
                    </div>
                </div>
            </form>
            </div>
          </div>
        </div>
    </script>
<div>