<div ng-controller="MainCtrl" class="main">
<div class="overlay"></div>
  <div class="content">
  <a id="logout" href="/auth/logout" ng-hide="isLogged" target="_self"><i class="fa fa-minus-circle fa-4x"></i></a>
  <a href="/create" target="_self" class="venue"><i class="fa fa-plus-square fa-4x"></i></a>
    <div class="headline">
      <h1>SnackPlant</h1>
      <p class="subtitle">never eat alone</p>
    </div>
    <div class="options">
     <div>
         <span>
             <div class="row">
                <!-- ng-show="true" is a placeholder for a fn that finds the most popular venues we
                are just defaulting to true to dummy data purposes -->
                 <div data-ng-repeat="place in data" class="col-md-4 portfolio-item popular" ng-show="true">
                     <a href="#/going" ng-click="">
                         <img class="img-responsive popularImg" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference={{place.imageUrl}}&key=AIzaSyDUYAAHTfuH1FhBacOWtF01FZGjF7Sd3mc" alt="">
                     </a>
                     <h3 class="btn btn-danger">
                       {{ place.count }} people going
                     </div>
                     <br>
                     <h3 class="btn btn-danger">
                       + Add me to list
                     </h3>
                 </div>
             </span>
         </div>
     </div>

<!--      <i class="fa fa-heart fa-5x" ng-class="{'health':is1healthClick}" ng-click="healthClick1()"></i>
     <i class="fa fa-heart fa-5x" ng-class="{'health':is2healthClick}" ng-click="healthClick2()"></i>
     <i class="fa fa-heart fa-5x" ng-class="{'health':is3healthClick}" ng-click="healthClick3()"></i>
     <i class="fa fa-usd fa-4x"   ng-class="{'price':is1priceClick}"  ng-click="priceClick1()"></i>
     <i class="fa fa-usd fa-4x"   ng-class="{'price':is2priceClick}"  ng-click="priceClick2()"></i>
     <i class="fa fa-usd fa-4x"   ng-class="{'price':is3priceClick}"  ng-click="priceClick3()"></i> -->

     <div ng-controller="ModalCtrl">


      <script type="text/ng-template" id="myModalContent.html">

          <div class="modal-header">
              <h3 class="modal-title">Welcome to SnackPlant!</h3>
          </div>

          <div class="modal-body">
              Connect with classmates and colleagues at the best places to eat near you. Login or sign up with the button below, and start discovering popular places today.

              <div class="modal-footer">
                <a href="/auth/github" target= "_self" class="search fa fa-github btn btn-block btn-social btn-github">
                Sign in with GitHub
                </a>
              </div>

          </div>
      </script>
<!--       <button id="search" ng-click="search('results')">Search!</button><br>
      <span class='label label-default' ng-show="searching">Searching...</span>
      <span class="label label-danger" ng-show="noResults">Your search didn't return any results. Perhaps nothing's open?</span> -->
    </div>
  </<div>


</div>
</div>

<!--<form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">
              //   <div class="form-group has-feedback">
              //     <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
              //     <span class="ion-at form-control-feedback"></span>
              //   </div>

              //   <div class="form-group has-feedback">
              //     <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="password" ng-model="password" placeholder="Password" required="">
              //     <span class="ion-key form-control-feedback"></span>
              //   </div>

              //   <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-sm btn-block btn-success" disabled="disabled">Log in</button>
              //   <br>
              //   <p class="text-center text-muted">
              //   <small>Dont have an account yet? <a href="/signin">Sign up</a></small>
              //   </p>
              // </form>
-->


