<div ng-controller="MainCtrl" class="main">
<div class="overlay"></div>
  <div class="content">
  <a id="logout" href="/auth/logout" ng-hide="isLogged" target="_self"><i class="fa fa-minus-circle fa-4x"></i></a>
  <a href="/create" target="_self" class="venue"><i class="fa fa-plus-square fa-4x"></i></a>
    <div class="headline">
      <h1>SnackPlant</h1>
      <p class="subtitle">never eat alone</p>
    </div>
    <div class="options">
     <div>
         <span>
             <div class="row">
                <!-- ng-show="true" is a placeholder for a fn that finds the most popular venues we
                are just defaulting to true to dummy data purposes -->
                 <div data-ng-repeat="place in data" class="col-md-4 portfolio-item popular" ng-show="true">
                     <a href="#/going" ng-click="">
                         <img class="img-responsive popularImg" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference={{place.photo_url}}&key=AIzaSyDUYAAHTfuH1FhBacOWtF01FZGjF7Sd3mc" alt="">
                     </a>
                     <h3 class="btn btn-danger">
                       {{ place.going.length }} people going
                     </h3>
                     <br>
                     <h3 class="btn btn-danger" ng-click="going(place)">
                       + Add me to list
                     </h3>
                 </div> 
             </span>
         </div>
     </div>

     <div ng-controller="ModalCtrl">


      <script type="text/ng-template" id="myModalContent.html">

          <div class="modal-header">
              <h3 class="modal-title">Welcome to SnackPlant!</h3>
          </div>

          <div class="modal-body">
              Connect with classmates and colleagues at the best places to eat near you. Login or sign up with the button below, and start discovering popular places today.

              <div class="modal-footer">
                <a href="/auth/github" target= "_self" class="search fa fa-github btn btn-block btn-social btn-github">
                Sign in with GitHub
                </a>
              </div>

          </div>
      </script>
    </div>
  </<div>


</div>
</div>